
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/calendario.css" rel="stylesheet" />


<div id="divHoteles">



</div>

<script src="~/Scripts/Calendario.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Reserva.js"></script>

